on: [push, pull_request]
name: Run Test Cases
jobs:
  linux:
    name: CI Test On Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.60.0
          - stable
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: sudo apt install -yqq libkrb5-dev
      - name: Install Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: rustfmt, clippy
      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy
          default: true
          override: true
      - name: Test
        run: |
          rustup default ${{ matrix.rust }}
          make clippy test
        env:
          RUST_LOG: "debug"
          RUST_BACKTRACE: "1"
  macos:
    name: CI Test On macOS
    runs-on: macos-latest
    strategy:
      matrix:
        rust:
          - 1.60.0
          - stable
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: |
          brew install make
      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          components: rustfmt
          default: true
          override: true
      - name: Test
        run: |
          rustup default ${{ matrix.rust }}
          make test
        env:
          RUST_LOG: "debug"
          RUST_BACKTRACE: "1"
          SKIP_CLIPPY: "1"
  windows:
    name: CI Test On Windows
    runs-on: windows-latest
    strategy:
      matrix:
        rust:
          - 1.60.0
          - stable
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          components: rustfmt
          default: true
          override: true
      - name: Test
        run: |
          rustup default ${{ matrix.rust }}
          make test
        env:
          RUST_LOG: "debug"
          RUST_BACKTRACE: "1"
          SKIP_CLIPPY: "1"
          CLEAN_BEFORE_EACH: "1"
